<div ng-controller="listadoArchivosCtrl as vm">
    <div class="row">
        <div class="col-md-12">
            <ul class="nav nav-tabs">
                <li role="presentation" class="{{vm.menu.listado.class}}">
                    <a href="#" ng-click="vm.listadoFn()">Ultimos 20 cargados</a>
                </li>
                <li role="presentation" class="{{vm.menu.filtroForm.class}}">
                    <a href="#" ng-click="vm.filtroFormFn()">Formulario filtro</a>
                </li>
            </ul>
            <div style="margin-top:25px;" ng-show="vm.menu.listado.mostrar">
                @*@Html.Partial("Index/_FormCargaArchivos")*@
            </div>
            <div style="margin-top:25px;" ng-show="vm.menu.filtroForm.mostrar">
                @Html.Partial("Index/_FiltroForm")
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <form>
                <div class="checkbox">
                    <label>
                        <input type="checkbox" ng-model="vm.verListadoDetalladoSn"> Ver vista previa de los archivos de imagenes
                    </label>
                </div>
                @*{{vm.verListadoDetalladoSn | json}}*@
            </form>
        </div>
    </div>
    <div class="row" ng-show="vm.verListadoDetalladoSn">
        <div class="col-md-12">
            <table class="table table-bordered table-striped table-condensed table-hover">
                <thead>
                    <tr>
                        <th>Archivo/Descripcion</th>
                        <th>Vista (si es una imagen)</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="grupo in vm.grupoArchiMovs">
                        <td width="40%">
                            <h2>{{grupo.cabecera.titulo}}</h2>
                        </td>
                        <td>
                            <div ng-repeat="archivo in grupo.archivos">
                                <b>Archivo:</b>
                                <a href="@Href("~")images/docs/{{archivo.nombreArchivo}}" target="_blank">
                                    {{archivo.nombreArchivo}}
                                </a>
                                <div>{{archivo.descripcion}}</div>
                                <div ng-show="archivo.extension == 'JPG' || archivo.extension == 'jpg' || archivo.extension == 'gif' || archivo.extension == 'png'">
                                    <a href="@Href("~")images/docs/{{archivo.nombreArchivo}}" target="_blank">
                                        <img ng-src="@Href("~")images/docs/{{archivo.nombreArchivo}}" alt="{{archivo.nombreArchivo}}" class="img-thumbnail img-responsive" />
                                    </a>
                                </div>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
            @*<pre>
                        {{vm.archivosMovimientos | json}}
                </pre>*@
            @*<pre>{{vm.grupoArchiMovs | json}}</pre>*@
        </div>
    </div>
    <div class="row" ng-hide="vm.verListadoDetalladoSn">
        <div class="col-md-12">
            <table class="table table-bordered table-striped table-condensed table-hover">
                <thead>
                    <tr>
                        <th>Titulo</th>
                        <th>Archivo/Descripcion</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="grupo in vm.grupoArchiMovs">
                        <td>
                            {{grupo.cabecera.titulo}}
                        </td>
                        <td>
                            <div ng-repeat="archivo in grupo.archivos">                                
                                <a href="@Href("~")images/docs/{{archivo.nombreArchivo}}" target="_blank">
                                    {{archivo.nombreArchivo}}
                                </a>                                
                                {{archivo.descripcion}}
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
